<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tubitv.github.signal">

    <!--Required for SSDP & Chromecast/Zeroconf discovery-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <!--Required for interacting with devices-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--Required for storing device pairing information-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
